name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Itt a javítás: Kényszerítjük a régi Pydantic verziót, ami kompatibilis a kódoddal
        pip install "pydantic<2.0.0" numpy pytest
        pip install -e .
        
    - name: Run tests
      run: |
        pytest
